* {
	margin: 0;
	padding: 0;
}
header {

}
nav ul {

	list-style: none;
	overflow: hidden;
	text-align: center;
	display: inline-block;
}
nav ul li {

	float: left;
}
nav ul li a {

	text-decoration: none;
	margin: 15px;
	text-transform: uppercase;
	padding: 5px;
}
nav ul li a img {

	width: 32px;
}
nav {
		
	text-align: center;
	background-color: lightblue;
	padding: 20px;
}
.content {

	height: 622px;
}
.image {

	background-color: lightblue;
	float: left;
	height: 100%;
	padding-top: 105px;
	width: 40%;
}
.image img {

	width: 95%;
	padding-left: 10px;
	padding-top: 40px;
}
.form {

	width: 60%;
	background-color: #4267B2;
	float: right;
	height: 116.9%;
	position: relative;
}
.content_form {

	width: 40%;
	position: absolute;
	top: 20%;
	left: 30%;
	/*! transform: translate -50%, -50%; */
}
.content_form h4 {

	color: white;
	font-size: 30px;
	padding-bottom: 10px;
}
.content_form p {

	color: white;
	padding-bottom: 10px;
}
.content_form h5 {

	color: white;
	font-size: 20px;
	padding-bottom: 10px;
}
.content_form form {
	
}
.content_form input {

	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}

nav ul li a:hover {
	color: white;
	background-color: #4267B2;
}
